*{
    
    margin: 0;
    padding: 0;
}


#body_container{

    
    font-size: calc(1em + 1vw);
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    
    
    "header"
    "main"
    "footer"

    ;

}



/*Cabecera*/
.header{

    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background: radial-gradient(#D98324, #A40606);
    
}

.img_logo{

    width: 170px;
    height: 140px;

}


/*Reemplazado por bootstrap*/
/*
.menu ul{

    font-size: 30px;
    list-style: none;
    text-align: center;
}

.menu ul li{

    color: black;
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 20%;
    padding-right: 10px;
}

.menu ul li a{

    color: black;
    margin-left: 10px;
    
}

.menu ul li a:hover{

    color: grey;
    
}

.menu ul li:hover ul{
    display: block;
}

a:link, a:visited, a:active{
    text-decoration: none;
}
*/

/*Final cabecera*/



/*Contenido Principal*/
.main{

    grid-area: main;
    background: radial-gradient(#434343, #000000);
    padding-top: 10px;
    padding-left: 65px;
    padding-right: 80px;
    padding-bottom: 150px;
    color: white;
    font-size: 4vw;

}

.main_container{
    
    color: aliceblue;
    display: inline-block;
    padding-top: 30px;
}


.main_container h2{
    font-size: 6vw;
    min-width: 20px;
    min-height: 20px;
    padding-bottom: 100px;
    color: white;
}

.main_filler p{
    padding-bottom: 100px;
}

.form{

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-left: 5px;

}

.form_button{

    cursor:pointer;

}


.filler_container{

    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
    padding-left: 35px;
    justify-content: space-evenly;


}

.filler_container_item{
    
    background-color: grey;
    width: 200px;
    height: 115px;
    border-radius: 10px;
    
}

.filler_container_item p{

    padding-top: 20px;

}


.filler_container img{
    
    width: 80%;
    height: 105%;
    
}



/*Video Responsive*/
.video{

    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}


iframe{

    padding-left: 4.8%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 70%;
    
}
/*Fin Video Responsive*/

h2{
    color: white;
}

table{
    margin: 0 auto;
    border-radius: 10px;
    color: white;
}

td{
    color: white;
}
/*Fin Contenido Principal*/



/*Pie de pagina*/
.footer{
    grid-area: footer;
    background: radial-gradient(#D98324, #A40606);
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;

}

.footer p{

    color: black;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer_container{
    position: relative;
}

.footer_container ul{
    list-style: none;
    
}

.footer_container ul li{
    display: inline-block;
    position: relative;
}

.footer_container img{
    width: 50%;
    border-radius: 150px;
}


/*Media Query*/
@media only screen and (min-width: 375px){

    .filler_container p{
        font-size: 24px;
    }

    .header{
        padding-left: 100px;
    }

    .navbar-toggler{
        position: relative;
        right:50px
    }

    .nav{
        
        flex-direction: row;
    }

    .nav-link{

        position: relative;
        right: 50px;
    }

    .img_logo{

        margin-right: 100px;

    }


    .main_filler p{

        padding-bottom: 60px;

    }

    .table{

        padding-top: 80px;

    }


}

@media only screen and (min-width: 768px){

    .filler_container{

        flex-direction: row;
    }

    .filler_container p{
        font-size: 3vw;
    }
    
    .header{

        flex-direction: column;

    }

    .navbar{
        margin-left: 40px
    }

    .nav{
        
        flex-direction: row;
        
    }

    .img_logo{

        margin-right: 80px;

    }

    input{

        max-width: 300px;
        max-height: 50px;
        font-size: 8px;
    }

    textarea{

        max-width: 500px;
        max-height: 200px;
        font-size: 8px;
    }

}

@media only screen and (min-width: 1250px){

    .filler_container{

        flex-direction: row;
    }

    .filler_container p{
        font-size: 40px;
    
    }

    .header{

        flex-direction: column;

    }

    input{

        max-width: 700px;
        max-height: 100px;
        font-size: 24px;
    }

    textarea{

        max-width: 800px;
        max-height: 200px;
        font-size: 24px;
    }
    
}

/*Fin Media Query*/

/*Fin pie de pagina*/


/* Lista desplegable en un flexbox

Queda desordenada y el main no crece, se desborda mas alla del footer

.filler_container_item:hover
{
    background-color: rgb(194, 189, 189);
    color: white;
}

.item_staff{
    display: none;
    transform-origin: left top;   
    min-width: 150px;
    max-width: 200px;
    position: absolute;

}


.filler_container_item:hover ul{

    background-color: grey;
    display: block;
    left: 0;
    margin-top: 50px;
    margin-left: 270px;
    width: 100%;
    animation: 300ms ease desplegar 1;
    border-radius: 1px;
    list-style: none;
    
}


@keyframes desplegar {
    from {
      transform: scaleY(0.5);
    }
}
*/
